@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-negro: #000;
    --color-blanco: #ffffff;
    --color-gris: #828282;

    --color-fondo: #f0f0f0;
    --color-linea: #ccc;

    --color-naranja: #FFF2E9;
    --color-texto-naranja: #FF8B43;

    --color-azul: #E7F4F5;
    --color-texto-azul: #069C9C;

    --color-cancelado: #FFE9E9;
    --color-texto-cancelado: #FF4A43;

    --box-shadow-suave: 1px 1px 1rem #00000017;
}

.darkMode {
    --color-negro: #ffffff;
    --color-blanco: #000000;
    --color-gris: #b2b2b2;

    --color-fondo: #161616;
    --color-linea: #202020;

    --color-naranja: #cd7742b0;
    --color-texto-naranja: #FFF2E9;

    --color-azul: #043e3e9d;
    --color-texto-azul: #E7F4F5;

    --color-cancelado: #9b2d2998;
    --color-texto-cancelado: #FFE9E9;

    --box-shadow-suave: 1px 1px 1rem #ededed17;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--color-fondo);
}

.btnProducts {
    background-color: var(--color-fondo);
}

.optionsMenu .btnProducts {
    margin-top: .5rem;
}

.conMenu {
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: var(--color-negro);
    height: 50px;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    box-shadow: var(--box-shadow-suave);
}

.menu {
    width: 20px;
    height: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    transition: all .2s ease;
}

.menu.active {
    transform: translateY(-3px);
}

.menu span {
    width: 100%;
    height: 2px;
    background-color: var(--color-blanco);
    transition: all .3s ease;
}

.menu.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu.active span:nth-child(2) {
    margin-left: 2rem;
    opacity: 0;
}

.menu.active span:last-child {
    transform: rotate(-45deg) translate(0px, -1px);
}

.sidebar {
    background-color: var(--color-blanco);
    box-shadow: var(--box-shadow-suave);
    position: fixed;
    height: 100dvh;
    width: 256px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem;
    transition: all .2s ease;
    z-index: 2;
}

.sidebar .optionsMenu2,
.sidebar .optionsFinanzas2 {
    display: none;
    box-shadow: var(--box-shadow-suave);
}

.sidebar.active .optionsMenu2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
    top: 200px;
    left: -500vw;
    transition: all .5s ease;
    z-index: -10;
}

.sidebar.active .optionsFinanzas2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
    top: 250px;
    left: -500vw;
    transition: all .5s ease;
    z-index: -1;
}

.sidebar.active .optionsMenu2.active,
.sidebar.active .optionsFinanzas2.active {
    left: 100px;
}

.sidebar.active .optionsMenu2 p,
.sidebar.active .optionsFinanzas2 p {
    font-size: 10px;
    text-align: center;
    width: 100%;
    padding: .7rem;
    border-radius: 10px;
    transition: all .2s ease;
    cursor: pointer;
    color: var(--color-negro);
}

.sidebar.active .optionsMenu2 p:hover,
.sidebar.active .optionsFinanzas2 p:hover {
    background-color: var(--color-fondo);
}

.sidebar.active {
    width: 90px;
    padding: 2rem 1rem;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)).active {
    background-color: var(--color-fondo);
}

.sidebar.active .topSidebar .user .textUser,
.sidebar.active .centerSidebar ul li p,
.sidebar.active .centerSidebar ul li i:last-child,
.sidebar.active .bottomSidebar p {
    display: none;
}

.sidebar.active .topSidebar .user {
    align-items: center;
    justify-content: center;
    display: flex;
}


.sidebar.active .centerSidebar ul li i,
.sidebar.active .bottomSidebar ul li i {
    padding-left: .4rem;
}

.sidebar.active .bottomSidebar ul li:first-child {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .topSidebar {
    border-bottom: solid 2px var(--color-fondo);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.sidebar .topSidebar .user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sidebar .topSidebar .user img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
}

.sidebar .topSidebar .user .textUser p {
    font-size: 10px;
    color: var(--color-negro);
}

.sidebar .topSidebar .user .textUser h1 {
    font-size: 11px;
    color: var(--color-negro);
}

.sidebar .centerSidebar {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.sidebar .centerSidebar::-webkit-scrollbar {
    width: 3px;
    background-color: var(--color-fondo);
    border-radius: 20px;
}

.sidebar .centerSidebar::-webkit-scrollbar-thumb {
    background-color: var(--color-linea);
}

.sidebar .centerSidebar ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)) {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .7rem 1rem;
    gap: 1rem;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
    cursor: pointer;
    position: relative;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)):hover,
.sidebar .centerSidebar ul li:nth-child(3) .btnOptions:hover,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2:hover {
    background-color: var(--color-fondo);
}

.sidebar .centerSidebar ul li:nth-child(3),
.sidebar .centerSidebar ul li:nth-child(4) {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
    justify-content: center;
    position: relative;
}

.sidebar .centerSidebar ul li:nth-child(3) .btnOptions,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: .7rem 1rem;
    border-radius: 10px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3) .btnOptions i:last-child,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2 i:last-child {
    position: absolute;
    right: 10px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3).active .btnOptions i:last-child,
.sidebar .centerSidebar ul li:nth-child(4).active .btnOptions2 i:last-child {
    transform: rotate(180deg);
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas {
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
    gap: .2rem;
    overflow: hidden;
    max-height: 0;
    transition: all .5s;
}

.sidebar .centerSidebar ul li:nth-child(3).active .optionsMenu,
.sidebar .centerSidebar ul li:nth-child(4).active .optionsFinanzas {
    max-height: 500px;
    padding-right: 2rem;
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu p,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas p {
    padding: .7rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 11px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu p:hover,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas p:hover {
    background-color: var(--color-fondo);
}

.sidebar .bottomSidebar {
    border-top: solid 2px var(--color-fondo);
    padding-top: 1rem;
}

.sidebar .bottomSidebar ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar .bottomSidebar ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .7rem 1rem;
    gap: 1rem;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
}

.sidebar .bottomSidebar ul li:not(:first-child) {
    cursor: pointer;
}

.sidebar .bottomSidebar ul li:not(:first-child):hover {
    background-color: var(--color-fondo);
}

.sidebar .bottomSidebar ul li i {
    font-size: 12px;
}

.btnBills {
    background-color: var(--color-fondo);
}

.main {
    padding: 1rem 2rem 3rem 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .openModalAdd {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: #6397bc;
    border: none;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.main .totalBills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.main .totalBills h3 {
    font-size: 15px;
    font-weight: 500;
    color: var(--color-negro);
}

.main .totalBills h1 {
    font-size: 60px;
    font-weight: 900;
    margin-top: -.5rem;
    color: var(--color-negro);
}

.main .contentBills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-top: 1rem;
    gap: 1rem;
}

.main .contentBills .bill {
    background-color: var(--color-blanco);
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow-suave);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-negro);
}

.main .contentBills .bill .leftBill {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main .contentBills .bill .leftBill i {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    background-color: #6397bc;
    color: white;
}

.main .contentBills .bill .leftBill .textLeftBill h4 {
    font-size: 12px;
    font-weight: 500;
}

.main .contentBills .bill .leftBill .textLeftBill p {
    font-size: 20px;
    font-weight: 900;
}

.main .contentBills .bill i#menuVertical {
    font-size: 15px;
    cursor: pointer;
}

.modalUpdate {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
}

.modalUpdate .conModalUpdate {
    backdrop-filter: blur(90px);
    padding: 2rem;
    width: 500px;
    box-shadow: 1px 1px 1rem #0000008a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.modalUpdate .conModalUpdate i#closeModalUpdate {
    top: 10px;
    left: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    transition: all .2s ease;
    cursor: pointer;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate i#closeModalUpdate:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalUpdate .conModalUpdate .conInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.modalUpdate .conModalUpdate .conInputs::-webkit-scrollbar {
    width: 7px;
    background-color: var(--color-linea);
}

.modalUpdate .conModalUpdate .conInputs::-webkit-scrollbar-thumb {
    background-color: var(--color-gris);
    border-radius: 50px;
    cursor: pointer;
}

.modalUpdate .conModalUpdate .inputUpdate {
    margin-top: 1rem;
}

.modalUpdate .conModalUpdate .inputUpdate p {
    font-size: 12px;
    margin-bottom: .2rem;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate .inputUpdate input,
.modalUpdate .conModalUpdate .inputUpdate textarea {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: solid 1px var(--color-gris);
    font-size: 12px;
    outline: none;
    background-color: transparent;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 12px;
    width: 100%;
}

.modalUpdate .conModalUpdate .buttons button {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
}

.modalUpdate .conModalUpdate .buttons button:first-child {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    opacity: .2;
    cursor: no-drop;
}

.modalUpdate .conModalUpdate .buttons button:last-child {
    background-color: #FF4A43;
    color: var(--color-blanco);
}

.modalUpdate .conModalUpdate .buttons button:last-child:hover {
    transform: translateY(-5px);
}

.modalUpdate .conModalUpdate .buttons button:first-child.active {
    opacity: 1;
    background-color: #6397bc;
    cursor: pointer;
}

.modalUpdate .conModalUpdate .buttons button:first-child.active:hover {
    transform: translateY(-5px);
}

.modalAdd {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
}

.modalAdd .conModalAdd {
    backdrop-filter: blur(90px);
    box-shadow: 1px 1px 1rem #0000008a;
    width: 500px;
    border-radius: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    opacity: 0;
}

.modalAdd .conModalAdd i#closeModalAdd {
    font-size: 12px;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-negro);
    border-radius: 50%;
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    cursor: pointer;
    transition: all .2s ease;
}

.modalAdd .conModalAdd i#closeModalAdd:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalAdd .conModalAdd .inModalAdd {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.modalAdd .conModalAdd .inModalAdd .progress {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modalAdd .conModalAdd .inModalAdd .progress .one,
.modalAdd .conModalAdd .inModalAdd .progress .two,
.modalAdd .conModalAdd .inModalAdd .progress .three {
    height: 50px;
    width: 50px;
    background-color: var(--color-gris);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    transition: all .2s ease;
}

.modalAdd .conModalAdd .inModalAdd .progress .one.active,
.modalAdd .conModalAdd .inModalAdd .progress .two.active,
.modalAdd .conModalAdd .inModalAdd .progress .three.active {
    background-color: #6397bc;
}

.modalAdd .conModalAdd .inModalAdd .progress .one i,
.modalAdd .conModalAdd .inModalAdd .progress .two i,
.modalAdd .conModalAdd .inModalAdd .progress .three i {
    position: absolute;
    top: -60px;
    color: #FFF;
    font-size: 15px;
    transition: all .5s;
}

.modalAdd .conModalAdd .inModalAdd .progress .one.active i,
.modalAdd .conModalAdd .inModalAdd .progress .two.active i,
.modalAdd .conModalAdd .inModalAdd .progress .three.active i {
    top: 18px;
}

.modalAdd .conModalAdd .inModalAdd .progress .one h3,
.modalAdd .conModalAdd .inModalAdd .progress .two h3,
.modalAdd .conModalAdd .inModalAdd .progress .three h3 {
    position: absolute;
    color: var(--color-blanco);
    font-size: 14px;
    font-weight: 500;
    transition: all .2s ease;
    top: 15px;
}

.modalAdd .conModalAdd .inModalAdd .progress .one.active h3,
.modalAdd .conModalAdd .inModalAdd .progress .two.active h3,
.modalAdd .conModalAdd .inModalAdd .progress .three.active h3 {
    position: absolute;
    top: 60px;
}

.modalAdd .conModalAdd .inModalAdd .progress .line1,
.modalAdd .conModalAdd .inModalAdd .progress .line2 {
    display: block;
    width: 3px;
    height: 15px;
    background-color: var(--color-gris);
}

.modalAdd .conModalAdd .inModalAdd .progress .line1.active,
.modalAdd .conModalAdd .inModalAdd .progress .line2.active {
    background-color: #6397bc;
}

.modalAdd .conModalAdd .inModalAdd .inputs {
    flex-grow: 1;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
    padding-right: 1rem;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 2rem;
}

.modalAdd .conModalAdd .inModalAdd .inputs::-webkit-scrollbar {
    width: 7px;
    background-color: var(--color-linea);
}

.modalAdd .conModalAdd .inModalAdd .inputs::-webkit-scrollbar-thumb {
    background-color: var(--color-gris);
    border-radius: 50px;
    cursor: pointer;
}

.modalAdd .conModalAdd .inModalAdd .inputs label {
    display: flex;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    border-radius: 10px;
    border: dashed 2px #6397bc;
    font-weight: 700;
    color: #6397bc;
    cursor: pointer;
    transition: all .2s ease;
}

.modalAdd .conModalAdd .inModalAdd .inputs label:hover {
    background-color: #6397bc;
    color: #fff;
}

.modalAdd .conModalAdd .inModalAdd .inputs h3 {
    font-size: 12px;
    margin-top: .3rem;
    font-weight: 800;
    color: var(--color-negro);
}

.modalAdd .conModalAdd .inModalAdd .inputs h3 span {
    font-weight: 400;
}

.modalAdd .conModalAdd .inModalAdd .inputs .inputAdd {
    margin-top: 1rem;
}

.modalAdd .conModalAdd .inModalAdd .inputs .inputAdd p {
    font-size: 13px;
    font-weight: 400;
    color: var(--color-negro);
    margin-bottom: .2rem;
}

.modalAdd .conModalAdd .inModalAdd .inputs .inputAdd input,
.modalAdd .conModalAdd .inModalAdd .inputs .inputAdd textarea {
    border: solid 1px var(--color-gris);
    outline: none;
    border-radius: 6px;
    font-size: 12px;
    padding: .7rem;
    width: 100%;
    background-color: transparent;
    color: var(--color-negro);
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    margin-top: 1rem;
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button {
    width: 100%;
    padding: .7rem 1rem;
    border-radius: 7px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    transition: all .2s ease;
    cursor: pointer;
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button:first-child {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    opacity: .2;
    cursor: no-drop;
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button:last-child {
    background-color: #FF4A43;
    color: var(--color-blanco);
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button:last-child:hover {
    transform: translateY(-5px);
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button:first-child.active {
    opacity: 1;
    background-color: #6397bc;
    cursor: pointer;
}

.modalAdd .conModalAdd .inModalAdd .inputs .buttons button:first-child.active:hover {
    transform: translateY(-5px);
}

.toast {
    position: fixed;
    right: -200vw;
    top: 30px;
    z-index: 2;
    background-color: var(--color-texto-cancelado);
    padding: 1rem 2rem;
    border-radius: 10px 0 0 10px;
    font-size: 12px;
    font-weight: 700;
    color: var(--color-blanco);
    transition: all .5s ease;
}

.toast.active {
    right: 0;
}

.switch {
    display: block;
    width: 40px;
    height: 25px;
    background-color: #6397bc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
    outline: solid 2px var(--color-fondo);
}

.switch.active {
    background-color: #1c1f2c;
}

.switch.active .circle {
    transform: translateX(17px) rotate(90deg);
    background-color: #c4c8d1;
}

.switch.active::after {
    background-color: white;
    right: 70%;
    width: 5px;
    height: 5px;
    bottom: 10px;
}

.switch.active::before {
    background-color: white;
    right: 60%;
    width: 2px;
    height: 2px;
    bottom: 7px;
}

.switch::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: -6px;
}

.switch::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: -13px;
}

.switch .circle {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 7px;
    background-color: #edca2e;
    margin-left: .2rem;
    transition: all .2s ease;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal.active {
    left: 0;
    background-color: #767676;
    transform: scale(1);
}

.modal .modalContent {
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal .modalContent::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #ff7777;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal .modalContent .centerModal {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal .modalContent .centerModal i {
    font-size: 60px;
    color: #ff7777;
}

.modal .modalContent .centerModal .textModal h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal .modalContent .centerModal .textModal p {
    font-size: 14px;
}

.modal .modalContent i#closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal .modalContent button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal .modalContent button:hover {
    transform: translateX(-10px);
    background-color: transparent;
}

/* Modal2 */

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal2.active {
    left: 0;
    background-color: #00000086;
    transform: scale(1);
}

.modal2 .modalContent2 {
    width: 550px;
    height: 300px;
    background-color: #353535;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal2 .modalContent2::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #fff177;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal2 .modalContent2 .centerModal2 {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal2 .modalContent2 .centerModal2 i {
    font-size: 60px;
    color: #fff177;
}

.modal2 .modalContent2 .centerModal2 .textModal2 h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal2 .modalContent2 .centerModal2 .textModal2 p {
    font-size: 14px;
}

.modal2 .modalContent2 i#closeModal2 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal2 .modalContent2 button.logOut2 {
    position: absolute;
    bottom: 20px;
    right: 100px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal2 .modalContent2 button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #fff177;
    background-color: transparent;
    background-color: #fff177;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal2 .modalContent2 button:hover {
    transform: translateY(-10px);
    background-color: transparent;
    color: white;
}

@media (height < 390px) {
    .modalAdd .conModalAdd .inModalAdd .inputs {
        justify-content: start;
    }
}

@media (height < 550px) {
    .modalUpdate .conModalUpdate {
        justify-content: start;
    }

    .modalUpdate .conModalUpdate .conInputs {
        margin-top: 3rem;
        padding-right: 1rem;
    }
}

@media (width < 1000px) {

    .modal,
    .modal2 {
        padding: 1rem;
    }
}

@media (width < 650px) {
    .conMenu {
        display: flex;
    }

    .sidebar {
        left: -100vw;
    }

    .sidebar.ocult {
        left: 0;
    }

    .main {
        padding: 1rem;
    }

    .conButton {
        padding: 0 5rem 0 0;
    }
}

@media (width < 450px) {
    .modalUpdate .conModalUpdate .conInputs {
        display: grid;
        grid-template-columns: 1fr;
    }

    .modalDetele .conModalDelete {
        padding: 1rem;
    }

    .modalDetele .conModalDelete .inModalDelete {
        display: flex;
        flex-direction: column;
        gap: 0;
        text-align: center;
    }

    .modalDetele .conModalDelete .inModalDelete img {
        aspect-ratio: 1/1;
    }

    .modalDetele .conModalDelete button {
        margin-top: 1rem;
    }

    .modal .modalContent,
    .modal2 .modalContent2 {
        flex-direction: column;
    }

    .modal .modalContent .centerModal,
    .modal2 .modalContent2 .centerModal2 {
        padding: 0;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }

    .modal .modalContent button {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 1rem;
    }

    .modal2 .modalContent2 button,
    .modal2 .modalContent2 button.logOut2 {
        position: relative;
        top: 0;
        left: 0;
        margin-top: .2rem;
    }

    .modal2 .modalContent2 button.logOut2 {
        margin-top: 1rem;
    }
}