<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/products/products.css" />
    <!-- Loader -->
    <link rel="stylesheet" href="/styles/loader/loader.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Administrador | Bendita Burger</title>
    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="conMenu">
        <div class="menu">
            <span class="lineBars1"></span>
            <span class="lineBars2"></span>
            <span class="lineBars3"></span>
        </div>
    </div>

    <div class="sidebar">
        <div class="topSidebar">
            <div class="user">
                <img class="profile" src="" alt="">
                <div class="textUser">
                    <p class="name"></p>
                    <h1 class="correo"></h1>
                </div>
            </div>
        </div>
        <div class="centerSidebar">
            <ul>
                <a href="/admin">
                    <li>
                        <i class="ph ph-house-simple"></i>
                        <p>Inicio</p>
                    </li>
                </a>
                <a href="/admin/delivery">
                    <li>
                        <i class="ph ph-truck"></i>
                        <p>Entregas</p>
                    </li>
                </a>
                <li>
                    <div class="btnOptions">
                        <i class="ph ph-hamburger"></i>
                        <p>Menu</p>
                        <i class="ph ph-caret-up"></i>
                    </div>
                    <div class="optionsMenu">
                        <p class="btnProducts">Productos</p>
                        <p class="btnSections">Secciones</p>
                    </div>
                </li>
                <li>
                    <div class="btnOptions2">
                        <i class="ph ph-chart-line"></i>
                        <p>Finanzas</p>
                        <i class="ph ph-caret-up"></i>
                    </div>
                    <div class="optionsFinanzas">
                        <p class="btnSales">Ventas</p>
                        <p class="btnStatistics">Estadisticas</p>
                        <p class="btnBills">Gastos</p>
                    </div>
                </li>
                <a href="/admin/inventory">
                    <li>
                        <i class="ph ph-bank"></i>
                        <p>Inventario</p>
                    </li>
                </a>
            </ul>
        </div>
        <div class="bottomSidebar">
            <ul>
                <li>
                    <div class="switch">
                        <div class="circle"></div>
                    </div>
                    <p>Dark Mode</p>
                </li>
                <li class="btnConfig">
                    <i class="ph ph-gear"></i>
                    <p>Configuración</p>
                </li>
                <li class="close">
                    <i class="ph ph-sign-out"></i>
                    <p>Cerrar Sesión</p>
                </li>
            </ul>
        </div>
        <div class="optionsMenu2">
            <p class="btnProducts">Productos</p>
            <p class="btnSections">Secciones</p>
        </div>
        <div class="optionsFinanzas2">
            <p class="btnSales">Ventas</p>
            <p class="btnStatistics">Estadisticas</p>
            <p class="btnBills">Gastos</p>
        </div>
    </div>

    <div class="main">
        <div class="conTable">
            <div class="conButton">
                <h1>Productos Agregados:</h1>
                <button class="openModalAdd">
                    <i class="ph-bold ph-plus"></i>
                    <p>Agregar</p>
                </button>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th>Precio</th>
                        <th>Descuento</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><img src="/assets/ham2.png" alt=""></th>
                        <th>Whopper</th>
                        <th>Hamburguesas</th>
                        <th>$29.000</th>
                        <th>Sin Descuento</th>
                        <th>
                            <div class="btnEstatus">
                                <p>Activo</p>
                                <p>Inactivo</p>
                            </div>
                        </th>
                        <th>
                            <div class="actions">
                                <button class="openModalUpdate">Editar</button>
                                <button class="openModalDelete">Eliminar</button>
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="espacio"></div>
        </div>
    </div>

    <div class="toast">
        <p>Debes ingresar el nombre del producto</p>
    </div>

    <div class="modalDetele">
        <div class="conModalDelete">
            <div class="inModalDelete">
                <img src="/assets/ham2.png" alt="">
                <div class="textModalDelete">
                    <p>Nombre:</p>
                    <p>Pan de Hamburguesa</p>
                    <p>Categoria:</p>
                    <p>Panaderia</p>
                    <p>Precio:</p>
                    <p>$29.000</p>
                </div>
            </div>
            <button>Eliminar</button>
        </div>
    </div>

    <div class="modalUpdate">
        <div class="conModalUpdate">
            <i class="ph-bold ph-x" id="closeModalUpdate"></i>
            <div class="conInputs">
                <div class="inputUpdate">
                    <p>Nombre</p>
                    <input type="text" class="inputNameUpdate">
                </div>
                <div class="inputUpdate">
                    <p>Categoria</p>
                    <input type="text" class="inputCategoryUpdate">
                </div>
                <div class="inputUpdate">
                    <p>Precio</p>
                    <input type="number" class="inputPriceUpdate">
                </div>
                <div class="inputUpdate">
                    <p>Descuento</p>
                    <input type="number" class="inputDiscountUpdate">
                </div>
                <div class="inputUpdate">
                    <p>Descripcion</p>
                    <textarea name="" id="" class="inputDescriptionUpdate" style="resize: none; height: 100px;"></textarea>
                </div>
            </div>
            <div class="buttons">
                <button class="btnUpdate" disabled>Guardar</button>
                <button id="closeModalUpdate">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="modalAdd">
        <div class="conModalAdd">
            <i class="ph-bold ph-x" id="closeModalAdd"></i>
            <div class="inModalAdd">
                <div class="progress">
                    <div class="one">
                        <h3>1</h3>
                        <i class="ph-bold ph-check"></i>
                    </div>
                    <div class="line1"></div>
                    <div class="two">
                        <h3>2</h3>
                        <i class="ph-bold ph-check"></i>
                    </div>
                    <div class="line2"></div>
                    <div class="three">
                        <h3>3</h3>
                        <i class="ph-bold ph-check"></i>
                    </div>
                </div>
                <div class="inputs">
                    <input type="file" hidden id="inputPhoto" accept="image/*">
                    <label for="inputPhoto">Ingresa una Imagen</label>
                    <h3>Imagen: <span class="nameImagen"></span></h3>
                    <div class="inputAdd">
                        <p>Nombre</p>
                        <input type="text" class="inputName">
                    </div>
                    <div class="inputAdd">
                        <p>Categoria</p>
                        <input type="text" class="inputCategory">
                    </div>
                    <div class="inputAdd">
                        <p>Precio</p>
                        <input type="number" class="inputPrice">
                    </div>
                    <div class="inputAdd">
                        <p>Descuento</p>
                        <input type="number" class="inputDiscount">
                    </div>
                    <div class="inputAdd">
                        <p>Descripción</p>
                        <textarea class="inputDescription" style="resize: none; height: 100px;"></textarea>
                    </div>
                    <div class="buttons">
                        <button disabled class="saveAdd">Guardar</button>
                        <button class="cancelAdd">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modalContent">
            <div class="centerModal">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="textModal">
                    <h1>Ooops!</h1>
                    <p class="textErrorModal">No has iniciado sesión de manera correcta</p>
                </div>
            </div>
            <button class="tryAgain">Iniciar Sesión</button>
        </div>
    </div>

    <div class="modal2">
        <div class="modalContent2">
            <i class="fa-solid fa-x" id="closeModal2"></i>
            <div class="centerModal2">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="textModal2">
                    <h1>Atencion!</h1>
                    <p class="textErrorModal2">Estas a punto de salir de Bendita Burger</p>
                </div>
            </div>
            <button class="logOut2">Salir</button>
            <button class="tryAgain2">Cerrar</button>
        </div>
    </div>

    <div class="loader">
        <div class="icon">
            <div class="comidaSarten"></div>
            <div class="sartenCompleto">
                <div class="sarten"></div>
                <div class="mangoSarten"></div>
            </div>
            <div class="placaSarten"></div>
        </div>
        <div class="textLoader">
            <img src="/assets/logo.png" alt="">
            <h1>¡BENDITA BURGER!</h1>
            <p>¡Aguanta el hambre! Ya casi está todo listo...</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script src="/controller/admin/products/products.js" type="module"></script>
</body>

</html>