<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/scrollreveal"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/login/login.css" />
    <!-- Loader -->
    <link rel="stylesheet" href="/styles/loader/loader.css">
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title class="title">Iniciar Sesion | Bendita Burger</title>
    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container" id="containerLogin">
        <div class="inputsLogin">
            <img src="/assets/logoAmarillo.png" alt="">
            <h1>Bienvenido de nuevo</h1>
            <p class="new">¿Eres nuevo en Bendita Burger? <span class="btnMoveContainers">Registrate</span></p>
            <div class="google" id="btnGoogle">
                <img src="/assets/google.png" alt="">
                <p>Inicia Sesión con Google</p>
            </div>
            <div class="facebook" id="btnFacebook">
                <img src="/assets/facebook.png" alt="">
                <p>Inicia Sesión con Facebook</p>
            </div>
            <div class="or">
                <hr>
                <p>o</p>
                <hr>
            </div>
            <div class="inputsName">
                <p>Correo Electrónico</p>
                <input type="text" placeholder="bendita.burger@ejemplo.com" class="emailLogin">
            </div>
            <div class="inputsPassword">
                <p>Contraseña <span class="btnRemember">¿La olvidaste?</span></p>
                <div class="eyeInput">
                    <input type="password" placeholder="xxxxxxxxxxx" id="inputContra" class="passwordLogin">
                    <i class="fa-solid fa-eye" id="eyePass"></i>
                </div>
            </div>
            <button class="btnLogin" id="btnLogin">
                Iniciar Sesión
            </button>
        </div>
        <div class="infoLogin">
            <img src="/assets/ham2.png" alt="">
            <div class="textInfoLogin">
                <h1>¿Ya te comiste una Zunga?</h1>
                <p>¡¡Si aún no lo has hecho, este es el momento! No esperes más y
                    disfruta de todo el sabor que te ofrecemos en Bendita Burger. ¡Ven y cómetela ahora!!</p>
            </div>
        </div>
    </div>

    <div class="container" id="containerRegister">
        <div class="infoLogin">
            <img src="/assets/ham3.png" alt="">
            <div class="textInfoLogin">
                <h1>¡Esta es mas Exotica que tu ex!</h1>
                <p>¡Haz tu pedido ahora y disfruta del verdadero sabor con Bendita Burger o ven y cómetela ahora!</p>
            </div>
        </div>
        <div class="inputsLogin">
            <img src="/assets/logoAmarillo.png" alt="">
            <h1>Unete a la familia</h1>
            <p class="new">¿Ya eres BenditaLover? <span class="btnMoveContainers">Inicia Sesión</span></p>
            <div class="or">
                <hr>
                <p>o</p>
                <hr>
            </div>
            <div class="inputsName">
                <p>Correo Electrónico</p>
                <input type="text" placeholder="bendita.burger@ejemplo.com" class="emailRegister">
            </div>
            <div class="inputsNameRegis">
                <p>Nombre Completo</p>
                <input type="text" placeholder="Bendita Burger" class="nameRegister">
            </div>
            <div class="inputsPassword">
                <p>Contraseña</p>
                <div class="eyeInput">
                    <input type="password" placeholder="xxxxxxxxxxx" id="inputContraRegis" class="passwordRegister">
                    <i class="fa-solid fa-eye" id="eyePassRegister"></i>
                </div>
            </div>
            <button class="btnLogin" id="btnRegister">
                Registrate
            </button>
        </div>
    </div>

    <div class="rememberPassword">
        <div class="conRememberPassword">
            <i class="fa-solid fa-x" id="closeRemember"></i>
            <img src="/assets/logoAmarillo.png" alt="">
            <div class="inputRemember">
                <p>Correo Electronico</p>
                <input type="email" placeholder="bendita.burger@ejemplo.com" class="inputSendRemember">
            </div>
            <button class="btnSendRemember">Enviar Mensaje</button>
        </div>
    </div>

    <div class="loader">
        <div class="icon">
            <div class="comidaSarten"></div>
            <div class="sartenCompleto">
                <div class="sarten"></div>
                <div class="mangoSarten"></div>
            </div>
            <div class="placaSarten"></div>
        </div>
        <div class="textLoader">
            <img src="/assets/logo.png" alt="">
            <h1>¡BENDITA BURGER!</h1>
            <p>¡Aguanta el hambre! Ya casi está todo listo...</p>
        </div>
    </div>

    <div class="modal">
        <div class="modalContent">
            <i class="fa-solid fa-x" id="closeModal"></i>
            <div class="centerModal">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="textModal">
                    <h1>Ooops!</h1>
                    <p class="textErrorModal"></p>
                </div>
            </div>
            <button class="tryAgain">Intentar de Nuevo</button>
        </div>
    </div>

    <div class="modal2">
        <div class="modalContent2">
            <i class="fa-solid fa-x" id="closeModal2"></i>
            <div class="centerModal2">
                <i class="fa-solid fa-triangle-exclamation"></i>
                <div class="textModal2">
                    <h1>Bienvenido!</h1>
                    <p class="textErrorModal2"></p>
                </div>
            </div>
            <button class="tryAgain2">Ir a Gmail</button>
        </div>
    </div>

    <script src="/controller/login/login.js" type="module"></script>
</body>

</html>