@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-negro: #000;
    --color-blanco: #ffffff;
    --color-gris: #828282;

    --color-fondo: #f0f0f0;
    --color-linea: #ccc;
    
    --color-naranja: #FF8B43;
    --color-texto-naranja: #FFF2E9;

    --color-azul: #069C9C;
    --color-texto-azul: #E7F4F5;

    --color-rojo: #FF4A43;
    --color-texto-rojo: #FFE9E9;

    --color-verde: #9ABA62;
    --color-texto-verde: #EDF8DA;

    --color-lila: #C860AE;
    --color-texto-lila: #FFD8F6;

    --box-shadow-suave: 1px 1px 1rem #00000017;
}

.darkMode {
    --color-negro: #ffffff;
    --color-blanco: #000000;
    --color-gris: #b2b2b2;

    --color-fondo: #161616;
    --color-linea: #202020;

    --color-naranja: #ff8b43d9;
    --color-texto-naranja: #FFF2E9;

    --color-azul: #069c9cd8;
    --color-texto-azul: #E7F4F5;

    --color-rojo: #FF4A43;
    --color-texto-rojo: #FFE9E9;

    --color-verde: #9aba62c0;
    --color-texto-verde: #EDF8DA;

    --color-lila: #c860aedf;
    --color-texto-lila: #FFD8F6;

    --box-shadow-suave: 1px 1px 1rem #ededed17;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--color-fondo);
}

.conMenu {
    position: fixed;
    right: 15px;
    top: 15px;
    background-color: var(--color-negro);
    height: 50px;
    width: 50px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;
    box-shadow: var(--box-shadow-suave);
}

.menu {
    width: 20px;
    height: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    display: flex;
    transition: all .2s ease;
}

.menu.active {
    transform: translateY(-3px);
}

.menu span {
    width: 100%;
    height: 2px;
    background-color: var(--color-blanco);
    transition: all .3s ease;
}

.menu.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu.active span:nth-child(2) {
    margin-left: 2rem;
    opacity: 0;
}

.menu.active span:last-child {
    transform: rotate(-45deg) translate(0px, -1px);
}

.sidebar {
    background-color: var(--color-blanco);
    box-shadow: var(--box-shadow-suave);
    position: fixed;
    height: 100dvh;
    width: 256px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2rem;
    transition: all .2s ease;
    z-index: 2;
}

.sidebar .optionsMenu2,
.sidebar .optionsFinanzas2 {
    display: none;
}

.sidebar.active .optionsMenu2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
    top: 200px;
    left: -500vw;
    transition: all .5s ease;
    z-index: -10;
    box-shadow: var(--box-shadow-suave);
}

.sidebar.active .optionsFinanzas2 {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: var(--color-blanco);
    padding: 1rem;
    border-radius: 10px;
    gap: .5rem;
    top: 250px;
    left: -500vw;
    transition: all .5s ease;
    z-index: -1;
    box-shadow: var(--box-shadow-suave);
}

.sidebar.active .optionsMenu2.active,
.sidebar.active .optionsFinanzas2.active {
    left: 100px;
}

.sidebar.active .optionsMenu2 p,
.sidebar.active .optionsFinanzas2 p {
    font-size: 10px;
    text-align: center;
    width: 100%;
    padding: .7rem;
    border-radius: 10px;
    transition: all .2s ease;
    cursor: pointer;
    color: var(--color-negro);
}

.sidebar.active .optionsMenu2 p:hover,
.sidebar.active .optionsFinanzas2 p:hover {
    background-color: var(--color-fondo);
}

.sidebar.active {
    width: 90px;
    padding: 2rem 1rem;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)).active {
    background-color: var(--color-fondo);
}

.sidebar.active .topSidebar .user .textUser,
.sidebar.active .centerSidebar ul li p,
.sidebar.active .centerSidebar ul li i:last-child,
.sidebar.active .bottomSidebar p {
    display: none;
}

.sidebar.active .topSidebar .user {
    align-items: center;
    justify-content: center;
    display: flex;
}


.sidebar.active .centerSidebar ul li i,
.sidebar.active .bottomSidebar ul li i {
    padding-left: .4rem;
}

.sidebar.active .bottomSidebar ul li:first-child {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar .topSidebar {
    border-bottom: solid 2px var(--color-fondo);
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

.sidebar .topSidebar .user {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.sidebar .topSidebar .user img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    width: 50px;
    border-radius: 15px;
    cursor: pointer;
}

.sidebar .topSidebar .user .textUser p {
    font-size: 10px;
    color: var(--color-negro);
}

.sidebar .topSidebar .user .textUser h1 {
    font-size: 11px;
    color: var(--color-negro);
}

.sidebar .centerSidebar {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 1rem;
}

.sidebar .centerSidebar::-webkit-scrollbar {
    width: 3px;
    background-color: var(--color-fondo);
    border-radius: 20px;
}

.sidebar .centerSidebar::-webkit-scrollbar-thumb {
    background-color: var(--color-linea);
}

.sidebar .centerSidebar ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)) {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .7rem 1rem;
    gap: 1rem;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
    cursor: pointer;
    position: relative;
}

.sidebar .centerSidebar ul li:not(:nth-child(3), :nth-child(4)):hover,
.sidebar .centerSidebar ul li:nth-child(3) .btnOptions:hover,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2:hover {
    background-color: var(--color-fondo);
}

.sidebar .centerSidebar ul li:nth-child(3),
.sidebar .centerSidebar ul li:nth-child(4) {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
    justify-content: center;
    position: relative;
}

.sidebar .centerSidebar ul li:nth-child(3) .btnOptions,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2 {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    width: 100%;
    cursor: pointer;
    padding: .7rem 1rem;
    border-radius: 10px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3) .btnOptions i:last-child,
.sidebar .centerSidebar ul li:nth-child(4) .btnOptions2 i:last-child {
    position: absolute;
    right: 10px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3).active .btnOptions i:last-child,
.sidebar .centerSidebar ul li:nth-child(4).active .btnOptions2 i:last-child {
    transform: rotate(180deg);
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas {
    display: flex;
    flex-direction: column;
    padding-left: 1.8rem;
    gap: .2rem;
    overflow: hidden;
    max-height: 0;
    transition: all .5s;
}

.sidebar .centerSidebar ul li:nth-child(3).active .optionsMenu,
.sidebar .centerSidebar ul li:nth-child(4).active .optionsFinanzas {
    max-height: 500px;
    padding-right: 2rem;
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu p,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas p {
    padding: .7rem;
    border-radius: 10px;
    cursor: pointer;
    font-size: 11px;
    transition: all .2s ease;
}

.sidebar .centerSidebar ul li:nth-child(3) .optionsMenu p:hover,
.sidebar .centerSidebar ul li:nth-child(4) .optionsFinanzas p:hover {
    background-color: var(--color-fondo);
}

.sidebar .bottomSidebar {
    border-top: solid 2px var(--color-fondo);
    padding-top: 1rem;
}

.sidebar .bottomSidebar ul {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sidebar .bottomSidebar ul li {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: .7rem 1rem;
    gap: 1rem;
    font-size: 12px;
    border-radius: 10px;
    color: var(--color-negro);
    transition: all .2s ease;
}

.sidebar .bottomSidebar ul li:not(:first-child) {
    cursor: pointer;
}

.sidebar .bottomSidebar ul li:not(:first-child):hover {
    background-color: var(--color-fondo);
}

.sidebar .bottomSidebar ul li i {
    font-size: 12px;
}

.btnStatistics {
    background-color: var(--color-fondo);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.main {
    padding: 1rem 2rem 1rem 7rem;
}

.main .inputs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.main .inputs input {
    width: 100%;
    padding: 1rem .7rem;
    border-radius: 10px;
    border: solid 1px var(--color-linea);
    outline: none;
    background-color: transparent;
    font-size: 12px;
    color: var(--color-gris);
    text-align: center;
}

.main .inputs input:not(:last-child) {
    cursor: pointer;
}

.main .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
}

.main .cards .card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-blanco);
    box-shadow: var(--box-shadow-suave);
    border-radius: 10px;
    padding: 4rem 1rem;
    gap: 1rem;
}

.main .cards .card i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}

.main .cards .card:first-child i {
    background-color: #7d2ae8;
}

.main .cards .card:nth-child(2) i {
    background-color: #ff7777;
}

.main .cards .card:last-child i {
    background-color: #00be59;
}

.main .cards .card .textCard p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-negro);
}

.main .cards .card .textCard h1 {
    font-size: 25px;
    font-weight: 900;
    color: var(--color-negro);
}

.main .containerChartLine {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 2rem;
    overflow: hidden;
}

.modalDay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    padding: 1rem;
    z-index: 1;
}

.modalDay .calendar {
    backdrop-filter: blur(90px);
    box-shadow: 1px 1px 1rem #0000008a;
    padding: 1rem;
    border-radius: 20px;;
    opacity: 1;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
    max-height: 440px;
}

.modalDay .calendar .calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--color-negro);
    padding: .5rem;
}

.modalDay .calendar .calendar-header .month-picker {
    padding: .7rem 2rem;
    border-radius: 7px;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
}

.modalDay .calendar .calendar-header .month-picker:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalDay .calendar .calendar-header .year-picker {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalDay .calendar .calendar-header .year-picker .year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
    transition: all .2s ease;
}

.modalDay .calendar .calendar-header .year-picker .year-change:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalDay .calendar .calendar-body {
    padding: .5rem;
}

.modalDay .calendar .calendar-body .calendar-week-day {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
    font-size: 12px;
}

.modalDay .calendar .calendar-body .calendar-week-day div {
    display: grid;
    align-items: center;
    justify-content: center;
    color: var(--color-gris);
}

.modalDay .calendar .calendar-body .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
    color: var(--color-negro);
    margin-top: 1rem;
}

.modalDay .calendar .calendar-body .calendar-days div {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem;
    font-size: 12px;
    position: relative;
    border-radius: 50%;
    transition: all .2s ease;
}

.modalDay .calendar .calendar-body .calendar-days div.curr-date {
    background-color: #7d2ae8;
    color: white;
}

.modalDay .calendar .calendar-body .calendar-days .calendar-day-hover:hover {
    background-color: #7d2ae8;
    color: white;
    cursor: pointer;
}

.modalDay .calendar .month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color-fondo);
    border-radius: 20px;
    padding: 1rem;
    color: var(--color-negro);
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: .5rem;
    visibility: hidden;
    pointer-events: none;
    transform: scale(2);
    transition: all .2s ease-in-out;
    opacity: 0;
}

.modalDay .calendar .month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    opacity: 1;
}

.modalDay .calendar .month-list > div {
    display: grid;
    place-items: center;
}

.modalDay .calendar .month-list > div > div {
    width: 100%;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    transition: all .2s ease;
}

.modalDay .calendar .month-list > div > div:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalYear {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.modalYear.active {
    display: flex;
}

.modalMonth {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
}

.modalMonth .conModalMonth {
    backdrop-filter: blur(90px);
    box-shadow: 1px 1px 1rem #0000008a;
    width: 400px;
    border-radius: 20px;
    padding: 1rem;
    opacity: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
    max-height: 300px;
}

.modalMonth .conModalMonth p {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    border-radius: 10px;
    background-color: var(--color-blanco);
    color: var(--color-gris);
    cursor: pointer;
    transition: all .2s ease;
}

.modalMonth .conModalMonth p:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.switch {
    display: block;
    width: 40px;
    height: 25px;
    background-color: #6397bc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s ease;
    outline: solid 2px var(--color-fondo);
}

.switch.active {
    background-color: #1c1f2c;
}

.switch.active .circle {
    transform: translateX(17px) rotate(90deg);
    background-color: #c4c8d1;
}

.switch.active::after {
    background-color: white;
    right: 70%;
    width: 5px;
    height: 5px;
    bottom: 10px;
}

.switch.active::before {
    background-color: white;
    right: 60%;
    width: 2px;
    height: 2px;
    bottom: 7px;
}

.switch::after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: -6px;
}

.switch::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: -2px;
    right: -13px;
}

.switch .circle {
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 7px;
    background-color: #edca2e;
    margin-left: .2rem;
    transition: all .2s ease;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal.active {
    left: 0;
    background-color: #767676;
    transform: scale(1);
}

.modal .modalContent {
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal .modalContent::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #ff7777;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal .modalContent .centerModal {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal .modalContent .centerModal i {
    font-size: 60px;
    color: #ff7777;
}

.modal .modalContent .centerModal .textModal h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal .modalContent .centerModal .textModal p {
    font-size: 14px;
}

.modal .modalContent i#closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal .modalContent button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal .modalContent button:hover {
    transform: translateX(-10px);
    background-color: transparent;
}

/* Modal2 */

.modal2 {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal2.active {
    left: 0;
    background-color: #00000086;
    transform: scale(1);
}

.modal2 .modalContent2 {
    width: 550px;
    height: 300px;
    background-color: #353535;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal2 .modalContent2::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #fff177;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal2 .modalContent2 .centerModal2 {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal2 .modalContent2 .centerModal2 i {
    font-size: 60px;
    color: #fff177;
}

.modal2 .modalContent2 .centerModal2 .textModal2 h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal2 .modalContent2 .centerModal2 .textModal2 p {
    font-size: 14px;
}

.modal2 .modalContent2 i#closeModal2 {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal2 .modalContent2 button.logOut2 {
    position: absolute;
    bottom: 20px;
    right: 100px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal2 .modalContent2 button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #fff177;
    background-color: transparent;
    background-color: #fff177;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal2 .modalContent2 button:hover {
    transform: translateY(-10px);
    background-color: transparent;
    color: white;
}

@media (height < 350px) {
    .modalMonth {
        align-items: start;
    }

    .modalMonth .conModalMonth {
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    .modalMonth .conModalMonth p {
        height: 60px;
    }
}

@media (width < 1000px) {

    .modal,
    .modal2 {
        padding: 1rem;
    }

    .main .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .main .cards .card:last-child {
        grid-column: 1/3;
    }
}

@media (width < 650px) {
    .conMenu {
        display: flex;
    }

    .sidebar {
        left: -100vw;
    }

    .sidebar.ocult {
        left: 0;
    }

    .main {
        padding: 1rem;
    }

    .main .inputs {
        padding-right: 4rem;
    }
}

@media (width < 550px) {
    .main .inputs {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .main .inputs input:first-child {
        width: calc(100% - 60px);
    }

    .main .cards .card {
        padding: 3rem 1rem;
        gap: .5rem;
    }

    .main .cards .card i {
        height: 35px;
        width: 35px;
        font-size: 12px;
    }

    .main .cards .card .textCard h1 {
        font-size: 17px;
    }

    .modalDay .calendar .calendar-header {
        padding: 1rem 0;
    }

    .modalDay .calendar .calendar-header .month-picker {
        padding: .7rem;
    }

    .modalDay .calendar .calendar-header .year-picker .year-change {
        height: 20px;
        width: 20px;
        font-size: 10px;
    }

    .modalDay .calendar {
        max-height: 300px;
    }

    .modalDay .calendar .calendar-body .calendar-days div {
        width: 30px;
        height: 30px;
    }
}

@media (width < 450px) {
    .modalDetalis .conModalDetails {
        border-radius: 0;
    }

    .modal .modalContent,
    .modal2 .modalContent2 {
        flex-direction: column;
    }

    .modal .modalContent .centerModal,
    .modal2 .modalContent2 .centerModal2 {
        padding: 0;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }

    .modal .modalContent button {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 1rem;
    }

    .modal2 .modalContent2 button:hover {
        transform: translateX(0);
    }

    .modal2 .modalContent2 button,
    .modal2 .modalContent2 button.logOut2 {
        position: relative;
        top: 0;
        left: 0;
        margin-top: .2rem;
    }

    .modal2 .modalContent2 button.logOut2 {
        margin-top: 1rem;
    }

    .main .cards {
        gap: .5rem;
    }

    .main .cards .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main .cards .card .textCard h1 {
        font-size: 15px;
    }
}