@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-negro: #000;
    --color-blanco: #ffffff;
    --color-gris: #828282;

    --color-fondo: #f0f0f0;
    --color-linea: #ccc;

    --color-naranja: #FFF2E9;
    --color-texto-naranja: #FF8B43;

    --color-azul: #E7F4F5;
    --color-texto-azul: #069C9C;

    --color-cancelado: #FFE9E9;
    --color-texto-cancelado: #FF4A43;

    --box-shadow-suave: 1px 1px 1rem #00000017;
}

.darkMode {
    --color-negro: #ffffff;
    --color-blanco: #000000;
    --color-gris: #b2b2b2;

    --color-fondo: #161616;
    --color-linea: #202020;

    --color-naranja: #cd7742b0;
    --color-texto-naranja: #FFF2E9;

    --color-azul: #043e3e9d;
    --color-texto-azul: #E7F4F5;

    --color-cancelado: #9b2d2998;
    --color-texto-cancelado: #FFE9E9;

    --box-shadow-suave: 1px 1px 1rem #ededed17;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

body {
    background-color: var(--color-fondo);
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    gap: 1rem;
}

.main .topMain {
    background-color: var(--color-blanco);
    width: 60%;
    border-radius: 20px;
    box-shadow: var(--box-shadow-suave);
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.main .topMain img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    width: 100px;
    border-radius: 50%;
}

.main .topMain .textTopMain h3 {
    font-size: 20px;
    font-weight: 900;
    color: var(--color-negro);
}

.main .topMain .textTopMain p {
    font-size: 13px;
    font-weight: 500;
    color: var(--color-negro);
}

.main .conMain {
    background-color: var(--color-blanco);
    width: 60%;
    border-radius: 20px;
    box-shadow: var(--box-shadow-suave);
}

.main .conMain .info {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    gap: 1rem;
}

.main .conMain .info:hover {
    background-color: var(--color-gris);
}

.main .conMain .info:hover i:last-child {
    color: var(--color-blanco);
    transform: rotate(90deg);
}

.main .conMain .info:hover .leftInfo i {
    color: var(--color-gris);
    border-color: var(--color-blanco);
    background-color: var(--color-blanco);
}

.main .conMain .info i:last-child {
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .info .leftInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main .conMain .info .leftInfo i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-gris);
    font-size: 20px;
    color: var(--color-gris);
    border-radius: 50%;
    transition: all .2s ease;
    flex: 0 0 auto;
}

.main .conMain .info .leftInfo .textLeftInfo h3 {
    font-size: 17px;
    font-weight: 900;
    color: var(--color-gris);
    transition: all .2s ease;
}

.main .conMain .info:hover .leftInfo .textLeftInfo h3 {
    color: var(--color-blanco);
}

.main .conMain .info .leftInfo .textLeftInfo p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .info:hover .leftInfo .textLeftInfo p {
    color: var(--color-blanco);
}

.main .conMain .security.active {
    border-radius: 0 0 20px 20px;
}

.main .conMain .security.active:hover {
    border-radius: 0 0 20px 20px;
}

.main .conMain .security {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease;
    border-radius: 0;
    cursor: pointer;
    gap: 1rem;
}

.main .conMain .security:hover {
    background-color: var(--color-gris);
}

.main .conMain .security:hover i:last-child {
    color: var(--color-blanco);
    transform: rotate(90deg);
}

.main .conMain .security:hover .leftSecurity i {
    color: var(--color-gris);
    border-color: var(--color-blanco);
    background-color: var(--color-blanco);
}

.main .conMain .security i:last-child {
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .security .leftSecurity {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main .conMain .security .leftSecurity i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-gris);
    font-size: 20px;
    color: var(--color-gris);
    border-radius: 50%;
    transition: all .2s ease;
    flex: 0 0 auto;
}

.main .conMain .security .leftSecurity .textLeftSecurity h3 {
    font-size: 17px;
    font-weight: 900;
    color: var(--color-gris);
    transition: all .2s ease;
}

.main .conMain .security:hover .leftSecurity .textLeftSecurity h3 {
    color: var(--color-blanco);
}

.main .conMain .security .leftSecurity .textLeftSecurity p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .security:hover .leftSecurity .textLeftSecurity p {
    color: var(--color-blanco);
}

.main .conMain .user {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .2s ease;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    gap: 1rem;
}

.main .conMain .user:hover {
    background-color: var(--color-gris);
}

.main .conMain .user:hover i:last-child {
    color: var(--color-blanco);
    transform: rotate(90deg);
}

.main .conMain .user:hover .leftUser i {
    color: var(--color-gris);
    border-color: var(--color-blanco);
    background-color: var(--color-blanco);
}

.main .conMain .user i:last-child {
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .user .leftUser {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main .conMain .user .leftUser i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--color-gris);
    font-size: 20px;
    color: var(--color-gris);
    border-radius: 50%;
    transition: all .2s ease;
    flex: 0 0 auto;
}

.main .conMain .user .leftUser .textLeftUser h3 {
    font-size: 17px;
    font-weight: 900;
    color: var(--color-gris);
    transition: all .2s ease;
}

.main .conMain .user:hover .leftUser .textLeftUser h3 {
    color: var(--color-blanco);
}

.main .conMain .user .leftUser .textLeftUser p {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-negro);
    transition: all .2s ease;
}

.main .conMain .user:hover .leftUser .textLeftUser p {
    color: var(--color-blanco);
}

.modalAdd {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
}

.modalAdd .conModalAdd {
    backdrop-filter: blur(90px);
    padding: 2rem;
    width: 500px;
    box-shadow: 1px 1px 1rem #0000008a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 300px;
}

.modalAdd .conModalAdd .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalAdd .conModalAdd img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    width: 150px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.modalAdd .conModalAdd i#closeModalAdd {
    top: 10px;
    left: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    transition: all .2s ease;
    cursor: pointer;
    color: var(--color-negro);
}

.modalAdd .conModalAdd i#closeModalAdd:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalAdd .conModalAdd .conInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.modalAdd .conModalAdd .conInputs::-webkit-scrollbar {
    width: 7px;
    background-color: var(--color-linea);
}

.modalAdd .conModalAdd .conInputs::-webkit-scrollbar-thumb {
    background-color: var(--color-gris);
    border-radius: 50px;
    cursor: pointer;
}

.modalAdd .conModalAdd .inputAdd {
    margin-top: 1rem;
}

.modalAdd .conModalAdd .inputAdd p {
    font-size: 12px;
    margin-bottom: .2rem;
    color: var(--color-negro);
}

.modalAdd .conModalAdd .inputAdd input,
.modalAdd .conModalAdd .inputAdd textarea {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: solid 1px var(--color-gris);
    font-size: 12px;
    outline: none;
    background-color: transparent;
    color: var(--color-negro);
}

.modalAdd .conModalAdd .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 12px;
    width: 100%;
}

.modalAdd .conModalAdd .buttons button {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
}

.modalAdd .conModalAdd .buttons button:first-child {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    opacity: .2;
    cursor: no-drop;
}

.modalAdd .conModalAdd .buttons button:last-child {
    background-color: #FF4A43;
    color: var(--color-blanco);
}

.modalAdd .conModalAdd .buttons button:last-child:hover {
    transform: translateY(-5px);
}

.modalAdd .conModalAdd .buttons button:first-child.active {
    opacity: 1;
    background-color: #6397bc;
    cursor: pointer;
}

.modalAdd .conModalAdd .buttons button:first-child.active:hover {
    transform: translateY(-5px);
}

.modalUpdate {
    position: fixed;
    width: 100vw;
    height: 100dvh;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1rem;
}

.modalUpdate .conModalUpdate {
    backdrop-filter: blur(90px);
    padding: 2rem;
    width: 500px;
    box-shadow: 1px 1px 1rem #0000008a;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-height: 600px;
}

.modalUpdate .conModalUpdate .img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalUpdate .conModalUpdate img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    width: 150px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.modalUpdate .conModalUpdate i#closeModalUpdate {
    top: 10px;
    left: 10px;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    transition: all .2s ease;
    cursor: pointer;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate i#closeModalUpdate:hover {
    background-color: var(--color-gris);
    color: var(--color-blanco);
}

.modalUpdate .conModalUpdate .conInputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1rem;
}

.modalUpdate .conModalUpdate .conInputs::-webkit-scrollbar {
    width: 7px;
    background-color: var(--color-linea);
}

.modalUpdate .conModalUpdate .conInputs::-webkit-scrollbar-thumb {
    background-color: var(--color-gris);
    border-radius: 50px;
    cursor: pointer;
}

.modalUpdate .conModalUpdate .inputUpdate {
    margin-top: 1rem;
}

.modalUpdate .conModalUpdate .inputUpdate p {
    font-size: 12px;
    margin-bottom: .2rem;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate .inputUpdate input,
.modalUpdate .conModalUpdate .inputUpdate textarea {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: solid 1px var(--color-gris);
    font-size: 12px;
    outline: none;
    background-color: transparent;
    color: var(--color-negro);
}

.modalUpdate .conModalUpdate .buttons {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 12px;
    width: 100%;
}

.modalUpdate .conModalUpdate .buttons button {
    padding: .7rem;
    width: 100%;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: all .2s ease;
    font-size: 12px;
}

.modalUpdate .conModalUpdate .buttons button:first-child {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    opacity: .2;
    cursor: no-drop;
}

.modalUpdate .conModalUpdate .buttons button:last-child {
    background-color: #FF4A43;
    color: var(--color-blanco);
}

.modalUpdate .conModalUpdate .buttons button:last-child:hover {
    transform: translateY(-5px);
}

.modalUpdate .conModalUpdate .buttons button:first-child.active {
    opacity: 1;
    background-color: #6397bc;
    cursor: pointer;
}

.modalUpdate .conModalUpdate .buttons button:first-child.active:hover {
    transform: translateY(-5px);
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal.active {
    left: 0;
    background-color: #767676;
    transform: scale(1);
}

.modal .modalContent {
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal .modalContent::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #ff7777;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal .modalContent .centerModal {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal .modalContent .centerModal i {
    font-size: 60px;
    color: #ff7777;
}

.modal .modalContent .centerModal .textModal h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal .modalContent .centerModal .textModal p {
    font-size: 14px;
}

.modal .modalContent i#closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal .modalContent button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal .modalContent button:hover {
    transform: translateX(-10px);
    background-color: transparent;
}

@media (height < 550px) {
    .modalUpdate .conModalUpdate {
        justify-content: start;
    }

    .modalUpdate .conModalUpdate .conInputs {
        margin-top: 3rem;
        padding-right: 1rem;
    }
}

@media (height > 700px) {
    .main {
        height: 100dvh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (width < 1000px) {
    .modal {
        padding: 1rem;
    }
}

@media (width < 800px) {

    .main .topMain,
    .main .conMain {
        width: 100%;
    }
}

@media (width < 450px) {
    .main .topMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main .conMain .info i:last-child,
    .main .conMain .security i:last-child,
    .main .conMain .user i:last-child {
        display: none;
    }

    .main .conMain .info .leftInfo,
    .main .conMain .security .leftSecurity,
    .main .conMain .user .leftUser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .modalUpdate .conModalUpdate .conInputs {
        display: grid;
        grid-template-columns: 1fr;
    }

    .modal .modalContent {
        flex-direction: column;
    }

    .modal .modalContent .centerModal {
        padding: 0;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }

    .modal .modalContent button {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 1rem;
    }
}

@media (width < 450px) and (height < 960px) {
    .main {
        height: 100%;
        align-items: start;
        justify-content: start;
    }
}

@media (width < 350px) {
    .main .topMain .textTopMain h3 {
        font-size: 15px;
    }

    .main .conMain .info,
    .main .conMain .security,
    .main .conMain .user {
        padding: 3rem 1rem;
    }
}