@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0;
}

.container {
    width: 100vw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 70px;
    border-radius: 20px;
}

.container h1 {
    font-size: 30px;
    font-weight: 900;
    margin-top: .5rem;
}

.container p {
    font-size: 14px;
}

.container a {
    margin-top: .5rem;
    font-size: 13px;
    font-weight: 800;
    padding: 1rem 2rem;
    background-color: #feeb01;
    border-radius: 10px;
    color: #000;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000000;
    transition: all .2s ease;
    transform: scale(0);
    z-index: 2;
}

.modal.active {
    left: 0;
    background-color: #474747;
    transform: scale(1);
}

.modal .modalContent {
    width: 550px;
    height: 300px;
    background-color: #1c1c1c;
    border-radius: 30px;
    position: relative;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.modal .modalContent::after {
    content: '';
    display: block;
    width: 300px;
    height: 150px;
    background-color: #ff7777;
    position: absolute;
    border-radius: 50%;
    filter: blur(180px);
    bottom: -50px;
    right: -100px;
    z-index: 0;
}

.modal .modalContent .centerModal {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0 4rem;
    gap: 1.5rem;
}

.modal .modalContent .centerModal i {
    font-size: 60px;
    color: #ff7777;
}

.modal .modalContent .centerModal .textModal h1 {
    font-size: 25px;
    font-weight: 900;
}

.modal .modalContent .centerModal .textModal p {
    font-size: 14px;
}

.modal .modalContent i#closeModal {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 12px;
    cursor: pointer;
}

.modal .modalContent button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: .7rem 1rem;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
    border: solid 2px #ff7777;
    background-color: transparent;
    background-color: #ff7777;
    color: white;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 1;
}

.modal .modalContent button:hover {
    transform: translateX(-10px);
    background-color: transparent;
}

@media (width < 1000px) {
    .loader {
        display: flex;
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .loader .icon {
        transform: scale(.4);
        margin-left: 3rem;
    }

    .modal {
        padding: 1rem;
    }
}

@media (width < 450px) {
    .modal .modalContent {
        flex-direction: column;
    }

    .modal .modalContent .centerModal {
        padding: 0;
        flex-direction: column;
        text-align: center;
        padding: 0 1rem;
    }

    .modal .modalContent button {
        position: relative;
        top: 0;
        left: 0;
        margin-top: 1rem;
    }
}
